<% include /header %>

<div class="container">
<% include alerts %>
    <div class="row container-fluid" id="whiteBlock">
            <div class="col-md-12" id="top-row">
                <% if (Poster != "N/A") { %>
                <div class="col-md-4 col-sm-4 col-xs-4" id="artwork">
                    <img src= <%= Poster %>>
                </div>
                <% } %>
                <div class="col-md-8 col-sm-8 col-xs-4"id="movie-info">
                    <div class="row">
                        <ul>
                            <li><h3 style="text-align: left;"> <%= Title %> (<%= Year %>)</h3></li>
                            <li> <%= Country.split(',')[0] %> | <%= Language.split(',')[0] %> &nbsp; <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= Runtime %> </li>
                            <li><strong>DIRECTED BY: </strong><%= Director %></li>
                            <li><strong>WRITTEN BY: </strong><%= Writer %></li>
                            <li><strong>STARRING: </strong><%= Actors %></li>
                            <li><strong>GENRES: </strong><%= Genre %> </li>
                            <li id="rating-circle"><h4><%= parseFloat(imdbRating).toFixed(1) %></h4></li><br>
                            <li id="add-watchlist">
                                <div class="addWatch">
                                    <button class="btn btn-default btn-lg" type="submit" value="Add To Watchlist" a href="#" data-code="<%= imdbID %>" data-title="<%= Title %>" data-year="<%= Year %>">Add to Watchlist</button>
                                </div>
                                <div class="hiddenAdd">
                                    <button class="btn btn-default btn-lg" href="#">Added!</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="movie-plot">
            <h3>Plot</h3>
                <p><%= Plot %></p>
            </div>
    </div>
</div>

<% include /footer %>
