<% include ../header %>
<div class=container>
    <div class="col-md-4">
    <ul>
        <li>Title: <%= Title %></li>
        <li>Year: <%= Year %></li>
        <li>Genre: <%= Genre %></li>
        <li>Actors: <%= Actors %></li>
        <li>Rotten Tomatoes: <%= tomatoMeter %></li>
    </ul>
    </div>
    <div class="col-md-4">
    <img src= <%= Poster %>>
    </div>
</div>

<% include ../footer %>
