<% include ../header %>

<!-- else is broken-->

<div class="container">
    <h1 style="color: white; font-size:72pt; text-align:center;"><%= Title %>  (<%= Year %>)</h1>
    <div class="row container-fluid" id="chunk">
        <div class="container">
        <div class="col-md-6" id="movie-item">
            <ul><br>
                <li>Directed by: <%= Director %></li><br>
                <li>Synopsis <br> <p style="color: #a2a2a2;"><%= Plot %></p></li><br>
                <li>OFMG Rating: <%= tomatoMeter %>/100</li>
            </ul>

            <div class="addWatch">
                <button class="btn btn-default btn-lg" type="submit" value="Add To Watchlist" a href="#" data-code="<%= imdbID %>" data-title="<%= Title%>" data-year="<%= Year %>">Add To Watchlist</button>
            </div>
            <div class="hiddenAdd">
                <button class="btn btn-default btn-lg">Added!</button>
            </div>

            <div class="deleteWatch" id="deleteWatch">
                <button class="btn btn-default btn-lg" type="submit" value="Add To Watchlist">Delete From Watchlist <span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
                <input type="hidden" name="code" value="<%= imdbID %>">
                <input type="hidden" name="title" value="<%= Title %>">
                <input type="hidden" name="year" value="<%= Year %>">
            </div>
        </div>
        <div class="col-md-6" style="none;">
            <img src= <%= Poster %>><br><br>
        </div>
        <div><br><br>
        </div>
        </div><br>
    </div>
</div>

<% include ../footer %>
