<% include ../header %>

<!-- else is broken-->

<div class="container">
    <h1 id="title"><%= Title %>  (<%= Year %>) </h1>
    <div class="row container-fluid" id="chunk">
            <div class="col-md-12" id="top-row">
                <div class="col-md-4" id="artwork">
                    <img src= <%= Poster %>>
                </div>
                <div class="col-md-7">
                    <div class="row" id="movie-info">
                        <ul><br>
                            <li><h1 style="text-align: left;"> <%= Title %></h1></li><br>
                            <li>DIRECTED BY: <%= Director %></li><br>
                            <li>STARRING: <%= Actors %></li><br>
                            <li> <%= Genre %> </li>
                            <li> <%= Country %> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= Runtime %> </li><br>
                            <li id="rating-circle"><%= imdbRating %></li><br>
                            <li>
                                <div class="addWatch">
                                    <button class="btn btn-default btn-lg" type="submit" value="Add To Watchlist" a href="#" data-code="<%= imdbID %>" data-title="<%= Title %>" data-year="<%= Year %>">Add To Watchlist</button>
                                </div>
                                <div class="hiddenAdd">
                                    <button class="btn btn-default btn-lg">Added!</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="movie-plot">
                <p><%= Plot %></p>
            </div>
    </div>
</div>

<% include ../footer %>
