<% include ../header %>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add To Watchlist
</button>

<div class="container" id="chunk">
    <div class="row" >
        <div class="col-md-6">
            <ul>
                <li><%= Title %>  (<%= Year %>)</li><br>
                <li>Director: <%= Director %></li><br>
                <li>Synopsis: <%= Plot %></li><br>
                <li>OFMG Rating: <%= tomatoMeter %>/100</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src= <%= Poster %>>
        </div>
    </div>
</div>

<% include ../footer %>
